<% include header %>
<h1><%-title %></h1>
<form action="/create" method="post">
	<input type="text" name="content">
	<input type="submit">
</form>
<ul class="todos">
	<% todos.forEach(function(todo){ %>
	<li><div class="content"><%- todo.content %></div>&nbsp;&nbsp;&nbsp;&nbsp;<a class="delete" href="/delete/<%- todo._id %>">x</a></li>
	<% }); %>
</ul>
<script>
	var todos = document.getElementsByClassName('content');
	document.addEventListener('click', function (event) {
		if (event.target.className =='content') {
			var clicked = event.target;
			var _html = clicked.innerHTML;

			var newNode = document.createElement('input');
			clicked.innerHTML='';
			newNode.setAttribute('value', _html);
			clicked.appendChild(newNode);
		};
	});
</script>
<% include footer html%>