*{
	margin: 0;
	padding: 0;
}

.poster-main {
	width: 800px;
	height: 270px;
	position: relative;
	font-size: 0;
}

.poster-btn {
	position: absolute;
	width: 800px;
	height: 270px;
	z-index: 10;
	cursor: pointer;
}


.poster-list{
	position: relative;
	margin: 20px auto;
}
.poster-item{
 position: absolute;
 left: 100px;
 // overflow: hidden;

}

.poster-item img {
	width:100%;
}

.poster-prev-btn{
	width: 100px;
	height: 270px;
	top:0;
	left:0;
	background: url(images/btn_l.png) no-repeat 50% 50%;
}
.poster-next-btn{
	width: 100px;
	height: 270px;
	right: 0;
	background: url(images/btn_r.png) no-repeat 50% 50%;
	top:0;
}