<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" src="">

</head>
<body>
    testsssssssssstttttdafsdfasdasdfasdfasdfaasdfasmike

<p>
    <%- settings.title %>
</p>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>